---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

.content {
    font-size: $custom-font-size; //using custom variable 
}

.primarycolor{
    color: $primary; //using Bootstrap variable
}

h1 {
    text-align: center;
    margin-top: 1em;
}

article img {
    float: left;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

article {
    padding-top: 1em;
    clear: both;
}

.fancy {
    text-align: center;
    margin-top: 1em;
}
.fancy img {
    width: 160px;
}
.fancy .col-sm-4 {
    padding: 10px;
    border: solid 1px #eee;
}

.fancy .col-sm-4:hover{
    border: solid 1px #aaa;
}